body {
    font-family: 'Open Sans', sans-serif;
}

body .type-tribal-heart-ceremony {
    background-color: #ff923f;
}

body .type-online-event {
    background-color: #ccc552;
}

body .type-study-hub {
    background-color: #3fd9ff;
}

body .type-online-workshop,
body .type-online-course {
    background-color: #18dd8f
}