body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    max-width: 600px;
    width: 100%;
}

.events {
    padding-bottom: 2rem;
}

.item {
    animation: item-enter 0.5s ease 0s 1 normal both;
}

@keyframes item-enter {
    from { 
        transform: translate(0, 2rem); 
        opacity: 0;
    }
    to   { 
        transform: translate(0, 0); 
        opacity: 1;
    }
}

.item:nth-child(1) { animation-delay: 0; }
.item:nth-child(2) { animation-delay: 0.1s; }
.item:nth-child(3) { animation-delay: 0.2s; }
.item:nth-child(4) { animation-delay: 0.3s; }
.item:nth-child(5) { animation-delay: 0.4s; }
.item:nth-child(6) { animation-delay: 0.5s; }
.item:nth-child(7) { animation-delay: 0.6s; }
.item:nth-child(8) { animation-delay: 0.7s; }
.item:nth-child(9) { animation-delay: 0.8s; }
.item:nth-child(10) { animation-delay: 0.9s; }
.item:nth-child(11) { animation-delay: 1.0s; }
.item:nth-child(12) { animation-delay: 1.1s; }
.item:nth-child(13) { animation-delay: 1.2s; }
.item:nth-child(14) { animation-delay: 1.3s; }
.item:nth-child(15) { animation-delay: 1.4s; }
.item:nth-child(16) { animation-delay: 1.5s; }
.item:nth-child(17) { animation-delay: 1.6s; }
.item:nth-child(18) { animation-delay: 1.7s; }
.item:nth-child(19) { animation-delay: 1.8s; }
.item:nth-child(20) { animation-delay: 1.9s; }
.item:nth-child(21) { animation-delay: 2.0s; }
.item:nth-child(22) { animation-delay: 2.1s; }
.item:nth-child(23) { animation-delay: 2.2s; }
.item:nth-child(24) { animation-delay: 2.3s; }
.item:nth-child(25) { animation-delay: 2.4s; }
.item:nth-child(26) { animation-delay: 2.5s; }
.item:nth-child(27) { animation-delay: 2.6s; }
.item:nth-child(28) { animation-delay: 2.7s; }
.item:nth-child(29) { animation-delay: 2.8s; }
.item:nth-child(30) { animation-delay: 2.9s; }

.divider {
    font-size: 1.2em;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #c5c5c5;
    font-weight: bold;
}

.event * {
    box-sizing: border-box;
}

.event {
    text-decoration: none;
    display: flex;
    /* align-items: center; */
    align-items: stretch;
    flex-direction: row;
    margin-bottom: 1rem;
    color: #111;
    opacity: 0.5;
}

a.event {
    opacity: 1;
}

a.event,
a.event .thumb,
a.event .date,
a.event .info .title,
a.event .info .when-where,
a.event .info svg,
a.event .info .type {
    transition: 0.5s;
}

a.event:hover,
a.event:hover .thumb,
a.event:hover .date,
a.event:hover .info .title,
a.event:hover .info .when-where,
a.event:hover .info svg,
a.event:hover .info .type {
    transition: 0.2s;
}

/* a.event:hover, a.event:active {
    transform: translate(0.5rem, 0px);
} */

a.event:hover .card .thumb {
    max-width: 0;
    opacity: 0;
}

a.event:hover .card .date {
    max-width: 100%;
    opacity: 1;
}

a.event:active .card .thumb {
    max-width: 100%;
    opacity: 1;
}
a.event:active .card .date {
    max-width: 0;
    opacity: 0;
}

a.event:hover .info .title,
a.event:active .info .title,
a.event:hover .info .when-where,
a.event:active .info .when-where,
a.event:hover .info svg,
a.event:active .info svg {
    color: #43bddb;
}

a.event:hover .info .type,
a.event:active .info .type {
    transform: translate(0.5rem, 0);
}

.card {

    display: flex;
    min-width: 128px;
    min-height: 64px;
    background-color: #fff;
    border-radius: 0.5rem;
    overflow: hidden;

    font-size: 0.8em;
    font-weight: 600;
    color: #a4a4a4;

    box-shadow: 0px 1.6px 3.5px -10px rgb(0 0 0 / 11%), 0px 5.4px 11.8px -10px rgb(0 0 0 / 17%), 0px 24px 53px -10px rgb(0 0 0 / 28%);

    box-shadow: 2px 8px 10px rgb(0 0 0 / 10%), 1px 2px 4px rgb(0 0 0 / 10%);

}

a .card {
    /* background-color: #23CBF4; */
}

.card .thumb,
.card .date {
    flex: 1;
}

@media only screen and (max-width: 300px) {

    .card {
        min-width: 64px;
        position: relative;
    }

    .card .thumb {
        max-width: 100%;
    }

    .card .date {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        max-width: 100%;
        color: #fff;
    }

    a.event:hover .card .date {
        background-color: transparent;
        color: #737373;
    }

}

.thumb {
    background-size: cover;
    background-position: 50% 50%;
    max-width: 50%;
}

.date {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    opacity: 1;
}

/* INFO */

.info {
    width: 100%;
    padding-left: 1rem;
}

.info .title {
    margin-bottom: 0.25rem;
}

.info .when-where {
    margin-bottom: 0.33rem;
    font-size: 0.8em;
    color: #999;
    color: #c98f2b;
}

.info .tags {
    display: flex;
}

.info .tags > div {
    background: #23CBF4;
    color: #fff;
    font-size: 0.7em;
    margin-right: 0.25rem;
    padding: 0.25rem;
    line-height: 1;
    border-radius: 0.25rem;
}

.info .atts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.info .atts svg {
    color: #807e79;
    width: 16px;
    display: block;
    margin-right: 0.25rem;
}

.info .type {
    background: #878787;
    color: #fff;
    font-size: 0.7em;
    margin-right: 0.25rem;
    padding: 0.25rem;
    line-height: 1;
    border-radius: 0.25rem;
    display: inline-block;
}

.info .type[data-type='tribal-heart-ceremony'] {
    background: #ff923f;
}

.info .type[data-type='online-event'] {
    background: #ccc552;
}

.info .type[data-type='study-hub'] {
    background: #3fd9ff;
}

.info .type[data-type='online-workshop'],
.info .type[data-type='online-course'] {
    background: #18dd8f
}

@media only screen and (max-width: 600px) {

}

/* FILTERS */

.ui {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.ui .filter {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    box-shadow: 0px 0.3px 1.5px rgb(0 0 0 / 4%), 0px 1.1px 4.9px rgb(0 0 0 / 5%), 0px 5px 22px rgb(0 0 0 / 9%);
    box-shadow: 0px 8px 10px rgb(0 0 0 / 10%), 0px 2px 4px rgb(0 0 0 / 10%);
    border-radius: 0.5rem;
    overflow: hidden;
}

.ui label {
    display: flex;
    align-items: center;
    background: #b0b0b0;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 0 0.5rem;
    letter-spacing: 1px;
    transition: 0.2s;
}

.ui select {
    cursor: pointer;
    border-radius: 0.5rem;
    border: 0;
    padding: 0.25rem 0.5rem;
    line-height: 1;
    font-family: "Open Sans";
    order: 1;
}

.ui select:hover + label {
    background:#666;
}

.ui select:focus + label {
    background:#23CBF4;
}

.ui select:focus {
    outline: none;
}

/* PAGINATION */

nav.pagination .pagination-pages > a {
    transition: 0.5s;
}
nav.pagination .pagination-pages > a:hover {
    transition: 0.1s;
}

nav.pagination {
    margin-top: 1rem;
}

nav.pagination  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav.pagination .pagination-pages {
    display: flex;
    flex-direction: row;
}

nav.pagination .pagination-pages > * {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
    color: #333;
}

nav.pagination .pagination-pages > a {
    color: #43bddb;
}
nav.pagination .pagination-pages > a:hover {
    transform: scale(1.5);
    color: #999;
}

nav.pagination .pagination-pages > * > svg {
    width: 18px;
    display: block;
}

nav.pagination .pagination-summary {
    font-size: 0.8em;
    color: #dddddd;
    margin-top: 1rem;
}
